/* TYPEWRITER.JSX */
.typewriter-container {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 4px;
  }

/* NAV.JSX */
#wholeNav {
    display: flex;
    align-items: center;
  }

  .titleHome {
    flex-grow: 1;
  }
  
  nav {
    text-align: right;
    padding: 30px 0;
    padding-right: 100px;
  }

