/* TYPEWRITER.JSX */
.homeGreet {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeGreetStatic {
  color: black;
}

.typewriter-container {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 4px;
    color: #E36414;
  }


